<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
<h1>Password Reset</h1>
<p>Hi {{UserName}},</p>
<p>We received a request to reset the password for your account.</p>
<p>Click the link below to reset your password:</p>
<p><a href="{{ResetUrl}}">Reset Password</a></p>

{{#if ExpiresInMinutes}}
<p>This link is valid for {{ExpiresInMinutes}} minutes.</p>
{{/if}}

<p>If you didn't request this, you can safely ignore this email.</p>
<p>Thanks,<br/>The Support Team</p>
</body>
</html>
